<h1><%= t("label.logo") %></h1>

<p><%= t("mail.greeting") %><%= @user.name %><%= t("special_characters.comma") %></p>

<p><%= t("text.click_mail") %></p>

<%= link_to t("label.activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
