<h1><%= t("mail.title_pass_rs") %></h1>

<p><%= t("text.click_to_rs") %></p>

<%= link_to t("label.rs_pass"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<%= t("mail.text2") %>

<%= t("mail.text3") %>
