<footer class="footer">
  <small>
    <%= t("label.the") %> <%= link_to t("label.title"), "http://news.railstutorial.org/" %>
    <%= t("label.by") %> <%= link_to t("label.Michael"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("label.aboutpage"), about_path %></li>
      <li><%= link_to t("label.contactpage"), contact_path %></li>
      <li><%= link_to t("label.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
